.list {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
}

.item {
    width: 170px;
    height: auto;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
}

.item h3 {
    margin: 0;
    color: white;
}

.item .icon {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    right: 2px;
    color: black;
    background: white;
    visibility: hidden;
}

.item:hover .icon{
    visibility: visible;
}